#frame{
    background-color: #FFE4C4;
    margin: 0 auto;
    text-align: center;
    font-family: unset;
}
#header{
    margin-bottom: 50px;
    height: 50px;
    background-color: #B0E0E6;
    box-shadow: 0 10px 20px black;
}
#table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40%;
    height: 250px;
    background-color: #B0E0E6;
    border-spacing: 5px;
    box-shadow: 0 20px 30px black;
}
.button{
    margin-top: 10px;
    width: 100px;
    font-size: small;
    color: white;
    border-radius: 50px;
    background-color: black;
    font-family: monospace;
}
#footer{
    margin-top: 50px;
    height: 50px;
    background-color: #B0E0E6;
    box-shadow: 0 -5px 20px black;
}
.tr{
    background-color: black;
    color: white;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
}