#frame{
	background-color: #FFE4C4;
	margin: 0 auto;
	text-align: center;
}

#header{
	margin-bottom: 50px;
	height: 70px;
	background-color: #B0E0E6;
	box-shadow: 0 10px 20px black;
}

.button{
	width: 130px;
	color: white;
	font-size: x-small;
	background-color: black;
	border-radius: 50px;
	box-shadow: 0 10px 20px black;
	font-family: monospace;
	margin-top: 5px; 
}

#table{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
	background-color: #B0E0E6;
	border-spacing: 5px;
	box-shadow: 0 20px 30px black;
}

#footer{
	margin-top: 50px;
	height: 50px;
	background-color: #B0E0E6;
	box-shadow: 0 -5px 20px black;
}

.tr{
	background-color: black;
	color: white;
	padding: 5px;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
}





